<!DOCTYPE html>
<html>
<head>
    <title>title</title>
</head>
<h1>Registration</h1>
<form method="post" action="~/registration">
     <label>Username:</label><br />
        <input type="text" name="username" /><br />
        
        <label>Password:</label><br />
        <input type="password" name="password" /><br />
        <span asp-validation-for="password"></span>
        
        <label>Confirm Password:</label><br />
        <input type="password" name="PasswordConfirm" /><br />
        <span asp-validation-for="PasswordConfirm"></span>
        
        <label>Phone Number : </label><br />
        <input type="text" name="PhoneNumber" /><br />
        
        <label>Email :</label><br />
                <input type="password" name="Email" /><br />
        <input type="submit" value="Отправить" />
</form>
<body>
<div>
      
</div>
</body>
</html>