@page
@model WebApplication.Views.Registration

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Rehistration</title>
</head>
<h1>Registration page</h1>

<body>
<div>
    
</div>
</body>
</html>